* {
	transition: all 1s ease;
}

header, footer {
	background: black;
	color: white;
	padding: 15px;
}

h2 {
	text-align: center;
}

img {
	width: 200px;
}

ul {
	margin-bottom: 0;
	padding-left: 0;
}

li {
	list-style: none;
	display: inline-block;
}

a {
	color: #d3d3d3;
	text-decoration:none;
	padding: 15px;
}
a:hover {
	color: white;
	text-decoration:none;
}

.active a {
	color: white;
	border: 1px solid white;
	text-decoration:none;
}

.imgDiv {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	margin-top: 10px;
}

.highlighted { background: yellow }
